<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Admin Management Page</title>
<link href="/def/css/admin.css" rel="stylesheet" />
<link
	href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"
	rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
	$(document).ready(function() {
		$('#editModal').on('shown.bs.modal', function(e) {
			var _button = $(e.relatedTarget);

			// console.log(_button, _button.parents("tr"));
			var _row = _button.parents("tr");
			var _invoiceAmt = _row.find(".Username1").text();
			var _chequeAmt = _row.find(".Email1").text();
			// console.log(_invoiceAmt, _chequeAmt);

			$(this).find(".Username1").val(_invoiceAmt);
			$(this).find(".Email1").val(_chequeAmt);
		})
	});
</script>
</head>

<body class="sb-nav-fixed">

	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<a class="navbar-brand">T-Rex Bus</a>
		<button class="btn btn-link btn-sm order-1 order-lg-0"
			id="sidebarToggle" href="#">
			<i class="fas fa-bars"></i>
		</button>
		<!-- Navbar Search-->
		<form
			class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
			<div class="input-group">
				<input class="form-control" type="text" placeholder="Search for..."
					aria-label="Search" aria-describedby="basic-addon2" />
				<div class="input-group-append">
					<button class="btn btn-primary" type="button">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</div>
		</form>
		<!-- Navbar-->
		<ul class="navbar-nav ml-auto ml-md-0">
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" id="userDropdown" href="#"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
				<div class="dropdown-menu dropdown-menu-right"
					aria-labelledby="userDropdown">
					<a class="dropdown-item" href="#">View profile </a> <a
						class="dropdown-item" href="#">Changes password</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/logout">Logout</a>
				</div></li>
		</ul>
	</nav>

	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark"
				id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<a class="nav-link" href="admin.html">
							<div class="sb-nav-link-icon">
								<i class="fa fa-tachometer-alt"></i>
							</div> Dashboard
						</a>
						<div class="sb-sidenav-menu-heading">Manage</div>
						<a class="nav-link active">
							<div class="sb-nav-link-icon">
								<i class="fa fa-user"></i>
							</div> Manage Accounts
						</a> <a class="nav-link" th:href="@{'/customer-list/'+${user.id}}">
							<div class="sb-nav-link-icon">
								<i class="fa fa-address-book"></i>
							</div> Manage Customers
						</a> <a class="nav-link" th:href="@{'/seller-list/'+${user.id}}">
							<div class="sb-nav-link-icon">
								<i class="fa fa-users"></i>
							</div> Manage Employees
						</a>
						<div class="sb-sidenav-menu-heading">Statistic</div>
						<a class="nav-link" th:href="@{'admin/charts/'+${user.id}}"><div
								class="sb-nav-link-icon">
								<i class="fas fa-chart-area"></i>
							</div> Charts </a>

					</div>
				</div>
			</nav>
		</div>

		<!-- Main content -->
		<div id="layoutSidenav_content">
			<main>
			<div class="container-fluid">
				<h2 class="mt-4">Manage Accounts</h2>
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item"><a href="home.html">Dashboard</a></li>
					<li class="breadcrumb-item active">Manage Accounts</li>
				</ol>

				<div class="card mb-4">
					<div class="card-header">
						<i class="fas fa-table mr-1"></i> DataTable of Employees
						<div style="float: right">
							<button type="button" class="btn btn-success" data-toggle="modal"
								data-target="#addModal" th:href="@{'/add/'+${user.id}+'/user'}">
								<i class="fa fa-plus-circle"></i> Add new account
							</button>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" id="dataTable" width="100%"
								cellspacing="0">
								<thead>
									<tr>
										<th>UserName</th>
										<th>Email</th>
										<th>Password</th>
										<th>Active</th>
										<th>RoleUser</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="users : ${listUsers}">
										<td class="Username1" th:text="${users.username}"></td>
										<td class="Email1" th:text="${users.email}"></td>
										<td th:if="${users.password}" th:text="${users.password}"></td>
										<td th:unless="${users.password}" th:text="Account+' gmail'"></td>
										<td th:text="${users.active}"></td>
										<th:block th:each="role : ${users.roles}">
											<td th:text=${role.name}></td>
										</th:block>
										<td>
											<button type="button" class="btn btn-warning"
												data-toggle="modal" data-target="#editModal"
												th:href="@{'/edit/'+${user.id}+'/'+${users.id}+'/user'}">
												<i style="color: white;" class="fa fa-edit"></i>
											</button>
											<button type="button" class="btn btn-danger"
												data-toggle="modal" data-target="#deleteModal"
												th:href="@{'/delete/'+${user.id}+'/'+${users.id}+'/user'}">
												<i class="fa fa-trash"></i>
											</button>

										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th>UserName</th>
										<th>Email</th>
										<th>Password</th>
										<th>Active</th>
										<th>RoleUser</th>
										<th>Action</th>
									</tr>
								</tfoot>
							</table>
						</div>
						<!-- /.card-body -->
					</div>


					<!-- Modal Add -->
					<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Add New
										Account</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form method="GET" action="save-regis-admin">
										<div class="form-group">
											<label for="recipient-name" class="col-form-label">Fullname:</label>
											<input class="form-control" type="text"
												placeholder="Fill name" name="newname"
												pattern="[A-z\s]{5,30}"
												title="Name too long or have special characters!">
										</div>
										<div class="form-group">
											<label for="recipient-name" class="col-form-label">Username:*</label>
											<input class="form-control" type="text"
												placeholder="Fill username" name="newusername"
												pattern="[a-zA-Z0-9]{6,20}" title="Six to twenty characters"
												required>
										</div>
										<div class="form-group">
											<label for="message-text" class="col-form-label">Email:*</label>
											<input type="text" class="form-control" name="newemail">
										</div>
										<div class="form-group">
											<label for="message-text" class="col-form-label">Password:*</label>
											<input id="password" class="form-control" type="password"
												placeholder="Fill password" name="newpassword"
												pattern="[a-zA-Z0-9]{6,20}"
												title="Six to twenty characters and don't have special characters!"
												required>
										</div>
										<div class="form-group">
											<label for="message-text" class="col-form-label">Repeatpassword:*</label>
											<input id="confirm_password" class="form-control"
												type="password" placeholder="Fill password again" required>
										</div>

										<div class="form-group">
											<label for="message-text" class="col-form-label">Numberphone:</label>
											<input class="form-control" type="text"
												placeholder="Fill phone number" name="newphonenumber"
												pattern="[0]{1}[0-9]{9}" title="Phonenumber has 10 numbers!">
										</div>


										<div class="form-group">
											<label for="message-text" class="col-form-label">Birthday:</label>
											<input type="date" placeholder="BIRTHDATE"
												name="newdateofbirth" max="<%=maxdate %>">
										</div>



										<div class="form-group">
											<label for="message-text" class="col-form-label">Sex:</label>
											<select name="newgender" required>
												<option disabled="disabled" selected="selected">GENDER</option>
												<option>Male</option>
												<option>Female</option>
											</select>
										</div>

										<div class="form-group">
											<label for="message-text" class="col-form-label">Role</label>
											<select name="newrole" required>
												<option disabled="disabled" selected="selected">ROLE</option>
												<option>Customer</option>
												<option>Employee</option>
											</select>
										</div>

										<!-- 										<div class="form-group" >
											<label for="message-text" class="col-form-label">Country:</label>
											<input class="form-control" type="text"
												placeholder="Fill country" name="newcountry"
												pattern="[A-z\s]{5,30}"
												title="Too short/long or have special characters!">
										</div> -->


										<div class="form-group">
											<label for="message-text" class="col-form-label">(*):
												required</label>
										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Save
												account</button>
										</div>
										<input th:type=hidden th:name="userid" th:value="${user.id}">
										<input th:type=hidden th:name="action"
											value="addnewaccount_user">
									</form>
								</div>
							</div>
						</div>
					</div>

					<!-- Modal Delete -->
					<div class="modal fade" id="deleteModal" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Delete
										Account</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form>
										<div class="form-group">
											<label for="recipient-name" id="exampleModalLabel">BẠN
												CHẮC CHẮN XÓA ACCOUNT NÀY? :</label> <input type="text"
												class="form-control" id="username">
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary">Save
										changes</button>
								</div>
							</div>
						</div>
					</div>

					<!-- Modal Edit -->
					<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Edit
										Account</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form>
										<div class="form-group">
											<label for="recipient-name" class="col-form-label">Username:</label>
											<input type="text" class="form-control Username1"
												id="username1">
										</div>
										<div class="form-group">
											<label for="message-text" class="col-form-label">Email:</label>
											<input type="text" class="form-control Email1" id="email1">
										</div>
										<div class="form-group">
											<label for="message-text" class="col-form-label">Password:</label>
											<input type="text" class="form-control Password1"
												id="password1">
										</div>

										<div class="form-group">
											<label for="message-text" class="col-form-label">Active:</label>
											<input type="text" class="form-control Active1" id="active">
										</div>

										<div class="form-group">
											<label for="message-text" class="col-form-label">Role:</label>
											<input type="text" class="form-control Role1" id="role">
										</div>

									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary">Save
										changes</button>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
			</main>

			<footer class="py-4 bg-light mt-auto">
				<div class="container-fluid">
					<div
						class="d-flex align-items-center justify-content-between small">
						<div class="text-muted">Copyright &copy;T-Rex Bus</div>
						<div>
							<a href="home.html">T-RexBus.com</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<!-- 	Kiểm tra xem password match chưa -->
	<script>
		var password = document.getElementById("password"), confirm_password = document
				.getElementById("confirm_password");

		function validatePassword() {
			if (password.value != confirm_password.value) {
				confirm_password.setCustomValidity("Password Don't Match");
			} else {
				confirm_password.setCustomValidity('');
			}
		}

		password.onchange = validatePassword;
		confirm_password.onkeyup = validatePassword;
	</script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
	<script src="../def/js/adminscripts.js"></script>
	<script src="../def/assets/chart-area-demo.js"></script>
	<script src="../def/assets/chart-bar-demo.js"></script>
	<script src="../def/assets/datatables-demo.js"></script>
</body>
</html>
